[Desktop Entry]
Name=Contact
GenericName=Contact
Comment=Open default email client
Exec=xdg-open mailto:
Icon=tanyelos-contact
Terminal=false
Type=Application
Categories=Network;Email;
Keywords=contact;email;mail;
StartupNotify=true
